{{ 'custom.css' | asset_url | stylesheet_tag }}

<div class="custom-content-block">
  <p>content block</p>
</div>

{% schema %}
{
  "name": "Custom Content Block",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    }
  ]
}
{% endschema %}
