{{ 'custom.css' | asset_url | stylesheet_tag }}

<div class="custom-content-block">
  <p>{{ title }}</p>
</div>

{% schema %}
{
  "name": "Custom Content Block",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
