{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  
{%- endstyle -%}

<div>
  <p>Custom section</p>
</div>

{% schema %}
{
  "name": "t:sections.test-section.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
  
}
{% endschema %}
