{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}

<div class="custom-slider">
  {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
    <li
      id="Slide-{{ section.id }}-{{ forloop.index }}"
      class="custom-slider-slide"
    >
      {% render 'card-product',
        card_product: product,
        media_aspect_ratio: section.settings.image_ratio,
        image_shape: section.settings.image_shape,
        show_secondary_image: section.settings.show_secondary_image,
        show_vendor: section.settings.show_vendor,
        show_rating: section.settings.show_rating,
        show_quick_add: section.settings.enable_quick_add,
        section_id: section.id
      %}
    </li>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Test Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    }
  ]
}
{% endschema %}
