{{ 'test-section.css' | asset_url | stylesheet_tag }}

<div class="custom-slider">
  {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
    <div
      id="slide-{{ section.id }}-{{ forloop.index }}"
      class="custom-slider-slide"
    >
      {%
        render 'card-product',
        card_product: product,
      %}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Test Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    }
  ]
}
{% endschema %}
