.custom-slider{
    background: red;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
  max-width: var(--custom-max-width);
  width: 100%;
  margin: 0 auto;
  }

.custom-slider-slide{
  flex: 0 0 20%;
  border: 1px solid red;
}
.custom-slider-button{
  background: red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.custom-slider-button:nth-last-of-type(1){
  right: 0;
  left: auto;
  transform: translate(50%, -50%);
}
.custom-slider-slide .card-wrapper {
  background: pink;
}
.custom-slider-slide .card-wrapper .card__inner{
  background: yellow;
}
.custom-slider-slide .card-wrapper .card__content .card__information, .custom-slider-slide .card-wrapper .card__content .card__badge{
  display: none;
}