.custom-slider{
    background: red;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  }

.custom-slider-slide{
  flex: 0 0 20%;
}
.custom-slider-slide .card-wrapper {
  background: pink;
}
.custom-slider-slide .card-wrapper .card-inner{}
.custom-slider-slide .card-wrapper .card-inner .card-content{
  display: none;
}