<div>
  <div class="custom-container">
    <h1>
      {{ page.title | escape }}
    </h1>
    {{ page.content }}
    {% section 'test-section' %}
    {% section 'custom-content-block' %}
  </div>
</div>
